<div class="my-container">
  <div class="frame">
    <div class="login-container">
      <div>
        <img class="logo" src="assets/images/drink_logo.svg">
        <div>
          <form novalidate
                (ngSubmit)="login()"
                [formGroup]="loginForm">
            <div>
              <mat-form-field hideRequiredMarker>
                <input matInput placeholder="Your Email" 
                      class="form-control" 
                      id="userEmailId" 
                      required 
                      email
                      formControlName="email"
                      />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field hideRequiredMarker>
                <input matInput type="password" 
                      placeholder="Password" 
                      class="form-control" 
                      id="passwordId" 
                      required 
                      formControlName="password">
              </mat-form-field>
              <br><span><a routerLink="/forgotpassword" class="forgot">Forgot Password?</a></span>
            </div>
            <div>
              <button type="submit" class="login-button" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
            </div>
          </form>
          <div class="signup">Need an Account? <a routerLink="/signup" class="signup-bold">Sign Up Here</a></div>
        </div>
      </div>
    </div>
  </div>
</div>



