.frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);;
    padding-bottom: 25px;
    border-radius: 20px;
    margin-top: 20%;
    box-shadow: 1px 6px 8px rgba(0, 0, 0, .3);
    
}

.primary-color {
    background-color: #4ec8ed;
    color: white;
}

.subtext {
    color: #777;
}

.logo {
    width: 250px;
}

.login-container {
    display: flex;
    text-align: center;
    
}
  
.login-container > * {
    width: 100%;
}

.login-button {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: #4ec8ed;
    border-radius: 100px;
    outline: none;
    margin-top: 50px;
}

.info-text {
    text-align: left;
    padding: 10px;
    font-family: "Arial";
}


    