

<div class="frame">
    <div class="login-container">
      <div>
        <div class="info-text">
          <p><a routerLink="/login">
            <button mat-mini-fab class="primary-color"><mat-icon>arrow_back</mat-icon></button>
          </a></p>
          <h1>Reset Your Password</h1>
          <p class="subtext">Enter your email address to have a password reset link emailed to you.</p>    
        </div>
        <div>
          <form novalidate
                (ngSubmit)="send()"
                [formGroup]="forgotForm">
            <div>
              <mat-form-field hideRequiredMarker>
                              
                <input matInput placeholder="Email" 
                       class="form-control" 
                       id="forgotPasswordId" 
                       required 
                       email
                       Validators.email
                       formControlName="email"
                       />
              </mat-form-field>
            </div>
            <div>
              <button type="submit" mat-raised-button class="primary-color" [disabled]="forgotForm.invalid">Send Email</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>